.story--section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.info--container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    height: 60%;
}

.logos--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 30%;
}

.story--title {
    font-size: 12em;
    font-weight: bold;
}

.story--subtitle {
    padding-top: 20px;
    font-size: 2.5em;
    font-weight: 600;
    line-height: 40px;
}

.story--desc {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 30px;
}

.desc--container {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
}

.header--container {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}