.clients--section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients--container {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.clients--header {
    font-size: 12em;
}

.client-logos {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 30px 0px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;

}

.client-logos:before,
.client-logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 250px;
    height: 100%;
    z-index: 2;
}

.client-logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(32, 30, 30, 0.4));
}

.client-logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(32, 30, 30, 0.4));
}

.client-logos .logo-track {
    display: flex;
    animation: scroll 10s linear infinite;
}

.client-logos img {
    margin: 0 20px;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}