.nav-section {
    display: flex;
    align-items: center;
    padding-left: 30px;
    background-color: #D9D9D9;
}

.nav-list {
    height: 100%;
    list-style: none;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.nav-item {
    display: block;
    font-size: 10em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s, text-decoration 0.3s, transform 0.3s;

}

.text-black {
    color: black;
}

.text-red {
    color: #FF0000;
}

.nav-item:hover,
.nav-item:focus,
.active {
    transform: translateY(-10px);
    transition: transform 0.3s;
}