.image--display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 95%;
    position: relative;

}

.image-big {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.black {
    background-color: #000000;
}

.black-text {
    color: #000000;
}

.description-work {
    font-size: clamp(16px, 2.5vw, 26px);
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80%;
    line-height: 40px;

}

.work-action-buttons {
    width: 20%;
    top: 10%;
    left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.work-nav-buttons {
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
}

.title-work {
    background-color: #FF0000;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 20px;
    padding-top: 20px;
    font-size: clamp(1rem, 5vw, 6rem);
    font-weight: bold;
    text-align: left;
    text-align-last: left;
    line-height: 0.9;
    margin-bottom: -15px;
    max-width: 90.5%;
}

.nav-buttons-black {
    background: #000000;
    color: white;
    font-size: 2em;
    font-weight: 200;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-num-black {
    color: #000000;
    font-size: 2em;
    font-weight: bold;
}

.screen-works {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20%;
    align-items: flex-start;
    z-index: 1;
    width: 50%;
    position: absolute;
    bottom: 30px;
    left: 5%;
}

.action-title-container-work {
    position: absolute;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    right: 0;
}

.image-display-work {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width : 1920px) {
    .work-nav-buttons {
        width: 13%;
        padding-right: 90px;

    }



}


@media (max-width : 1680px) {
    .work-nav-buttons {
        width: 15%;
        padding-right: 80px;
    }
}

@media (max-width : 1440px) {
    .work-nav-buttons {
        width: 17%;
        padding-right: 70px;
    }
}

@media (max-width : 1366px) {
    .work-nav-buttons {
        width: 18%;
        padding-right: 60px;
    }
}